<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- EXTERNAL CSS -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="../public/styles/nav.css" type="text/css"/>
  <link rel="stylesheet" href="../public/styles/create_map.css" type="text/css"/>
  <script src="https://kit.fontawesome.com/05d72d0c0c.js" crossorigin="anonymous"></script>


  <title>Create map</title>
</head>

<body>
  <nav id="navbar">
    <span><a class="nav-buttons" id="home" href="http://localhost:8080/">mapHub</a></span>
    <span><a class="nav-buttons" href="http://localhost:8080/id/users">My Maps</a></span>
  </nav>
  <form id="new_map_form" action="/id/create" method="POST" >
    <h1>Create New Map</h1>
    <div class="form-group">
    <label for="name">Map Name</label>
    <input type="text" class="form-control" name="name" placeholder="map name">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" placeholder="what's in this map?" >

    <label for="image_url">Image_url </label>
    <input type="text" class="form-control" name="image_url" placeholder="blabla.bla/something/otherthing">
    <label for="latitude" >Latitude</label>
    <input type="text" class="form-control" name="latitude"  placeholder="eg.43.6532">
    <label for="latitude" >longitude</label>
    <input type="text"  class="form-control" name="longitude" placeholder="eg.-79.3832"><br>
    <button class="btn btn-secondary" type="submit">Submit</button>
  </div>
  </form>
 <!-- Bootstrap js -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
