<!DOCTYPE html>
<html>
  <head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/nav.css" type="text/css"/>
    <link rel="stylesheet" href="../public/styles/selected_map.css" type="text/css"/>

    <!-- <script src="../public/scripts/sasquatch_map.js"></script> -->

    <script src="../public/scripts/initmap2.js"></script>
  </head>
  <body>
    <nav id="navbar"><span><a class="nav-buttons" id="home" href="http://localhost:8080/">mapHub</a></span>
    </nav>
    <div id="map-section">
      <div id="map-description">
        <h1>
         <%= mapName %>
        </h1>
        <h3>
          <%= mapDescription %>
        </h3>
        <img src="<%= imageUrl%>" id="map-image">
      </div>

      <div id="map"></div>
    </div>
    <!-- Bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs4aGT4j4CLuRIuG5t-F57amlmtRzTWtI&callback=initMap2&libraries=&v=weekly"
    async
  ></script>

</html>
