
.selected {
  color:red;
}

  /* Resize images */
  .container img {
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: end;
  }

button {
  margin-left: 5px;
}

/* Popular maps title css */
#title {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

/* CSS FOR content of map posting */
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.title-and-pic{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* container for image */
#map_image {
  display: flex;
  justify-content: end;
}
/* image itself */
img{
  width: 10em;
  height: 10em;
}

/* CSS FOR THE INDIVIDUAL MAP POSTINGS */
.map-section {
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  /* margin-right: 20%; */
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 20px;
  width: 90%;
}
.content{
  padding-top: 60px;
}
.map_name {
  text-decoration: none;
  font-size: 25px;
}

/* Pushes map content over slightly so it's not up against the border */
.map_info {
  margin-left: 2%;
}




