
    html {
      background: url('https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .selected {
      color:red;
      }

  /* Resize images */
  .container img {
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: end;
  }
  button {
margin-left: 5px;
}

/* Popular maps title css */
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

}

/* CSS FOR content of map posting */
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.title-and-pic{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* container for image */
#map_image {
  display: flex;
  justify-content: end;

}
/* image itself */
img{
  width: 10em;
  height: 10em;
}

/* CSS FOR THE INDIVIDUAL MAP POSTINGS */
.map-section {
  border: 5px solid black;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
}


/* Pushes map content over slightly so it's not up against the border */
.map_info {
  margin-left: 2%;

}


/* CSS FOR NAV LINKS */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


