.map_container {
  /* border: springgreen solid 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
}
#map {
  width: 90%;
  height: 90%;
}
.favorites_contr {
  border: 1px solid #BFBFBF;
  box-shadow: 5px 5px 5px #aaaaaa;
}
.profile {
  display: flex;
  justify-content: space-around;
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
} */

/* td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
} */

h3 {
  margin-top: 0;
}
.content {

  height: 100vh;
  padding-top: 60px;
  display:flex;
  justify-content: space-between;
}
