
    body {
      background-image: url('https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');

      /* Full height */

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    };

    .container {
      display: flex;
      justify-content: end;
      width: 10%;
      height: 10%;
  }

  /* Resize images */
  .container img {
      width: 10%;
      height: auto;
      display: flex;
      justify-content: end;


  }

  .maps_area {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  #maps {
    border: 10px solid black;

  }
